/****************************************************************************
 * @copyright   LIU Zhao
 * @authors     LIU Zhao (liuzhaomax@163.com)
 * @date        2021/9/25 14:52
 * @version     v1.0
 * @filename    BlogArticle.css
 * @description 
 ***************************************************************************/

#BlogArticle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: white;
    margin: 30px auto;
    max-width: 2550px;
    min-width: 650px;
    width: 50vw;
    font-size: 16px;
}
#BlogArticle p, #BlogArticle a {
    font-size: 16px;
}
#BlogArticle hr {
    margin: 10px 0;
}
#BlogArticle h1 {
    font-weight: bold;
}
#BlogArticle h4 {
    font-weight: bold;
}

.blog-article-widget {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.blog-article-widget p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

.blog-article-widget p:first-child {
    color: #9092BA;
}

.blog-article-widget p:last-child {
    color: rgba(51, 142, 108,0.8);
}

.blog-row-wrap {
    margin-bottom: 10px;
}

#blog-article-content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.blog-article-content-skin {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.blog-article-img {
    align-self: center;
    max-width: 100%;
}

.blog-article-video {
    align-self: center;
}

/*To Top*/
#blog-btn-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 60px;
    margin-right: 40px;
    z-index: 95;
    cursor: pointer;
}

#blog-btn-to-top svg {
    width: 50px;
    height: 50px;
    fill: #338e6c;
}

#blog-btn-to-top svg:hover {
    fill: rgba(51, 142, 108, 0.7);
}